
//    Font Family

$title-font	: 'Oswald', sans-serif;
$text-font	: 'Roboto', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: #297CA2;
$primary-color2	: #5DBFE3;
$title-color	: #333333;
$text-color		: #94CEE3;

$white			: #fff;
$offwhite		: #f9f9fb;
$black			: #222;


